﻿@using Ahav
@using Ahav.Infrastructure.Extensions
<!DOCTYPE html>
<html id="ng-app" ng-app="ahavApp" xmlns:ng="http://angularjs.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="http://udaca.pt/favicon.ico" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- set chrome=1 also?! -->
        <title>Adegas do Dão</title>
        @Html.RenderCssBundle("~/less/admin.css.bundle", BundleOptions.Normal)
        @{ if (Request.Items.Any(x => x.Key == TemplateExtensions.HttpItemTemplateSrc))
           {
        <link type="text/css" rel="stylesheet" href="@Request.Items[TemplateExtensions.HttpItemTemplateSrc].ToString()" />
           }}
        @{if(Request.Items.Any(x => x.Key == TemplateExtensions.MetaTags))
        {
            var tags = JsonSerializer.DeserializeFromString<Dictionary<string, string>>(Request.Items[TemplateExtensions.MetaTags].ToString());
            if(tags != null && tags.Any())
            {
                foreach (var tag in tags)
                {
        <meta name="@tag.Key" content="@tag.Value" />
                }
            }
        }}
    </head>
    <body>
        @Html.Partial("AngularJsTemplates")
        @RenderBody()
        <script type="text/javascript"> var _auth = null;</script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4SR6rdHUrFJWf6Yt7szUHVOexjYboeTM&sensor=true"></script>
        @Html.RenderJsBundle("~/apps/common/common.js.bundle", BundleOptions.Normal)
        @Html.RenderJsBundle("~/apps/web/web.js.bundle", BundleOptions.Normal)
        <div id="fb-root"></div>
        <script>
            // Google Analytics
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-45900292-1', 'adegasdodao.pt');
            ga('send', 'pageview');

            // Hack Fix - Angular SS API provider
            angular.module('angular-servicestack').config(function (serviceStackRestConfigProvider, $httpProvider) {

            });
            // Project id for test porpuses
            var project = null;
            var subDomain = "";
            @if(Request.Items!= null && Request.Items.Any(x => x.Key == ProjectExtensions.HttpItemProject))
            {
                <text>project = '@Request.GetProjectId()';</text>
            }
        </script>
    </body>
</html>