﻿@inherits ViewPage<ContentEditControllerResponse>
<tabset>
    <tab heading="Editar">
        <form novalidate name="editContentForm" role="form" class="form-inline">
            <div class="form-group">
                <label>Tema </label>
                <select class="form-control" data-ng-model="content.template" data-ng-options="t.id as t.name for t in templates">
                    <option value="">Não Usar</option>
                </select>
            </div>
            <div class="form-group">
                <label>Url </label><span class="validation-error-message" ng-show="editContentForm.slug.$invalid">The URL you've choosen is already in use by another page</span>
                <input type="text" name="slug" placeholder="Uma pequena introdução para chamar atenção" class="form-control" data-ng-class="{'has-error': form.slug.$invalid}" data-ng-model="content.slug" data-ng-blur="validateSlug()" />
            </div>
            <div class="form-group">
                <label>Titulo</label>
                <input type="text" name="title" placeholder="Um titulo breve e intuitivo" class="form-control" data-ng-model="content.title" required />
            </div>
        </form>  
        <div class="row">
            <textarea rows="20" name="body" id="contentBodyEditor" class="form-control" rows="3" required data-ng-model="content.body" ui-tinymce></textarea>
        </div>        
    </tab>
    <tab heading="Ficheiros">
        <div ahav-files queue="queue" endpoint="/api/"></div>
    </tab>
    <li data-locales="locales" class="dropdown">
        
    </li>
    <li data-ng-click="modalAttachs()">
       <a href="#"> Anexos ({{queue.length}})</a>
    </li>
    <li>
        <a data-ng-click="saveContent()" href="#"><span class="glyphicon glyphicon-floppy-save"></span> Guardar Alterações</a>
    </li>
    <li>
        <a data-ng-click="modalDeleteContent()"><span class="glyphicon glyphicon-trash"></span> Apagar</a>
    </li>
    <li>
        <a data-ng-click="setDefaultContent()"><span class="glyphicon glyphicon-save"> Inicial</span></a>
    </li>
</tabset>
<!--
    <div class="form-group">
        <input type="text" ng-model="social."/>
    </div>
    <div class="form-group">
        <div class="dropdown">
            <input type="button" data-toggle="dropdown" class="btn" value="Publicações Automáticas"/>
            <ul class="dropdown-menu" role="menu">
                <li>Publicar Automáticamente</li>
                <li>Publicar novos artigos</li>
                <li>Publicar artigos "esquecidos"</li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <input type="button" class="pull-right" role="button" data-ng-click="removeProvider()" value="Desactivar"/>
    </div>
    -->