﻿@inherits ViewPage<ContentListControllerResponse>
<div class="container">
    <div class="row">
        <div class="col-lg-18">
            <ul class="nav nav-tabs">
                <li><a href="#" data-ng-click="addContentModal()"><span class="glyphicon glyphicon-plus"></span> Página</a></li>
                <li><a href="#" data-ng-click="addTemplateModal()"><span class="glyphicon glyphicon-plus"></span> Template</a></li>
                <li class="dropdown">
                    <a href="#" data-dropdown-toggle="dropdown-toggle">Templates<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="t in templates">
                            <a ui-sref="templateEdit({templateId: t.id})">
                                {{t.name}}
                            </a>    
                        </li>
                        <li data-ng-show="templates.length == 0">Não tens nenhum tema</li>
                    </ul>
                </li>
            </ul>
            <div data-ng-if="contents.length == 0">Ainda não criaste nenhuma página!</div>
            <div data-ng-if="contents.length > 0" class="table-responsive">
                <table class="table .table-hover">
                    <thead>
                        <th>Url</th>
                        <th>Visualizações</th>
                        <th>Partilhas em Redes</th>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="c in contents" data-ui-sref="contentEdit({id: c.id})">
                            <td>{{c.slug}}</td>
                            <td>{{c.id}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <button class="btn" type="button">Mais</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <h4>Conteúdos</h4>
            Gere os conteúdos da melhor forma que te conver
        </div>
    </div>
</div>
<script type="text/ng-template" id="addTemplateModal.html">
    <div class="modal-dialog">
    <div class="modal-content">
        <form role="form" name="addTemplateForm">
            <div class="modal-header">Criar Tema</div>
            <div class="modal-body clearfix">
                <div class="form-group row">
                    <label class="col-lg-4 control-label">Name</label>
                    <div class="col-lg-20">
                        <input type="text" data-ng-model="template.Name" class="form-control" placeholder="Name" required />
                    </div>
                </div>
                <p>Podes escolhe uma estrutura para o teu tema!</p>
                <div class="row">
                    <div class="col-sm-6 col-sm-3" data-ng-repeat="t in templatesAvailable">
                        <div class="thumbnail">
                            <img data-ng-src="{{t.thumbnailSrc}}"/>
                            <div class="captation">
                                {{t.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="btn" type="button" data-ng-click="close()" value="Cancelar" />
                <input class="btn" type="button" data-ng-click="ok()" value="Criar" />
            </div>
        </form>
    </div>
</div>
</script>
<script type="text/ng-template" id="addContentModal.html">
        <form role="form" name="addContentForm" class="form-horizontal">
            <div class="modal-header">Criar Página</div>
            <div class="modal-body">
                <p>Escolhe o Url para a página. Não vais puder alterar muitas vezes o Url de cada página (é contra as normas gerais de SEO)</p>
                <p>Podes traduzir os teus conteúdos em vários idiomas!</p>
                <p>Exemplos:</p>
                <ul>
                    <li>home</li>
                    <li>evento/jantar-natal-2013</li>
                </ul>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="slug">Url</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Url" name="slug" required ng-model="content.slug" />
                    </div>
                </div>
                <div data-ng-if="templates.length > 0" class="form-controls">
                    <label class="control-label col-sm-8" for="template">Tema</label>
                    <div class="col-sm-16">
                        <select class="form-control" data-ng-model="content.template" data-ng-options="t.id as t.name for t in templates">
                            <option value="">Não Usar</option>
                        </select>
                    </div>
                </div>
                <div data-ng-if="templates.length == 0">
                    <p class="note">You don't have any template available for this project.</p>
                </div>
            </div>
            <div class="modal-footer">
                <input class="btn" type="button" data-ng-click="close()" value="Cancelar" />
                <input class="btn" type="button" data-ng-click="ok()" value="Criar" />
            </div>
        </form>

</script>