﻿@inherits ViewPage<TemplateEditControllerResponse>
<div data-tabset="tabset">
    <div data-tab="tab" data-heading="Editar">
        <form novalidate class="form" role="form" name="editTemplateForm">            
            <div class="form-controls"  data-ng-class="{'has-error' : editTemplateForm.body.$dirty && editTemplateForm.body.$invalid}">
                <div>
                    <textarea rows="20" name="body" id="templateBodyEditor" class="form-control" required  data-ng-model="template.body" ui-tinymce></textarea>
                    <hr />
                    
                    <div editor body="template.body[$scope.editLocale]"></div>
                    
                </div>
            </div>
        </form>
    </div>
    <div data-tab="tab" data-heading="Info">
        <div class="row">
            <div class="col-lg-6" data-ng-class="{'has-error': editTemplateForm.name.$dirty && addTemplate.name.$invalid}">
                <label for="name" class="control-label">Name</label>    
                <input class="form-control" type="text" name="name" placeholder="Name" data-ng-model="template.name"/>
            </div>
            <div class="col-lg-6" data-ng-class="{'has-error': editTemplateForm.title.$dirty && addTemplateForm.title.$invalid}">
                <label for="title" class="control-label">Title</label>
                <input class="form-control" type="text" name="title" placeholder="title" data-ng-model="template.title"/>
            </div>
        </div>
    </div>
 
     <li data-ng-click="modalAttachs()">
       <a href="#"> Anexos ({{queue.length}})</a>
    </li>
    <div data-tab="tab" data-heading="Tema">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-ms-3">
                <label for="textColor" class="control-label">Texto</label>
                <input type="text" data-ng-model="textColor" colorpicker="hex" />
            </div>
            <div class="col-xs-6 col-sm-4 col-ms-3">
                <label for="textColor" class="control-label">Títulos</label>
                <input type="text" data-ng-model="theme.header" colorpicker="hex" />
            </div>
            <div class="col-xs-6 col-sm-4 col-ms-3">
                <label for="textColor" class="control-label">Texto</label>
                <input type="text" data-ng-model="textColor" colorpicker="hex" />
            </div>
        </div>
        <textarea class="form-control" rows="12" data-ng-model="template.less"></textarea>
        <h3>CSS compilado: </h3>
        <div>{{template.css}}</div>
    </div>
    <li class="dropdown">
        <a data-dropdown-toggle="dropdown-toggle"> Menu</a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <button type="button" data-ng-click="addMenuModal()">Adicionar</button>
            </li>
            <li data-ng-repeat="menu in template.menu">
                {{menu.name}}
            </li>
        </ul>
    </li>
    <li class="dropdown" data-locales="locales"></li>
    <li><a data-ng-click="modalHtml()">HTML</a></li>
    <li><a data-ng-click="saveTemplate()" ><span class="glyphicon glyphicon-floppy-save"></span> Guardar</a></li>
    <li><a data-ng-click="modalDelete()" href="#"><span class="glyphicon glyphicon-trash"></span> Apagar</a></li>
</div>
<script type="text/ng-template" id="addMenuModal.html">
    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Criar Menu</div>
                <div class="modal-body">
                    <p>Cria um Menu.</p>
                    <form role="form" class="form">
                        <div class="form-group">
                            <label class="sr-only" for="name">Name</label>
                            <input type="text" class="form-control" data-ng-model="menu.name" placeholder="Name" />
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="href">Href</label>
                            <input type="text" class="form-control" data-ng-model="menu.href" placeholder="Href" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn" data-ng-click="close()" value="Cancelar" />
                    <input type="button" class="btn" data-ng-click="addMenu()" value="Criar" />
                </div>
            </div>
        </div>
    </div>
</script>
<!--
    <div class="form-group">
        <input type="text" ng-model="social."/>
    </div>
    <div class="form-group">
        <div class="dropdown">
            <input type="button" data-toggle="dropdown" class="btn" value="Publicações Automáticas"/>
            <ul class="dropdown-menu" role="menu">
                <li>Publicar Automáticamente</li>
                <li>Publicar novos artigos</li>
                <li>Publicar artigos "esquecidos"</li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <input type="button" class="pull-right" role="button" data-ng-click="removeProvider()" value="Desactivar"/>
    </div>
    -->
<script type="text/ng-template" id="templateBodyHtml.html">
    <div class="modal modal-backdrop">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Html</h3>
                </div>
                <div class="modal-body">
    <textarea data-ng-model="body" class="form-control" rows="6">
    </textarea>
                </div>
                <div class="moda-footer">
    
                </div>
            </div>
        </div>
    </div>
</script>