﻿@inherits ViewPage<TemplateCreateControllerResponse>
<form class="form" role="form" name="addTemplateForm">
    <div class="modal-header">Criar Tema</div>
    <div class="modal-body">
        <label class="sr-only">Name</label>
        <input type="text" data-ng-model="template.Name" class="form-control" placeholder="Name" required />
        <p>Podes escolhe uma estrutura para o teu tema!</p>
        <div class="row">
            <div class="col-sm-6 col-sm-3" data-ng-repeat="t in templatesAvailable">
                <div class="thumbnail">
                    <img alt="Thumbnail" data-ng-src="{{t.thumbnailSrc}}"/>
                    <div class="captation">
                        {{t.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="btn" type="button" data-ng-click="close()" value="Cancelar" />
        <input class="btn" type="button" data-ng-click="ok()" value="Criar" />
    </div>
</form>