.ng-social,
.ng-social-_widget {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  text-indent: 0;
  padding: 0;
  border: 0;
  word-spacing: 0;
  font-size: 14px;
  *zoom: 1;
  *display: inline;
}
.ng-social {
  margin: 0;
  line-height: 26px;
  list-style: none;
}
.ng-social li {
  display: inline-block;
  margin: 0 5px;
  *zoom: 1;
  *display: inline;
}
.ng-social_vertical li {
  display: block;
}
.ng-social__widget {
  display: inline-block;
  position: relative;
  margin: 3px;
  white-space: nowrap;
}
.ng-social__widget:before {
  display: none;
}
.ng-social-button,
.ng-social-counter,
.ng-social-balloon,
.ng-social-balloon__code {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}
.ng-social-button,
.ng-social-counter {
  display: inline-block;
  *display: inline;
  *float: left;
  margin: 0;
  line-height: 18px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  outline: 0;
}
.ng-social-button {
  position: relative;
  padding: 1px 10px 1px 20px;
  font-weight: bold;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  transition: border 0.1s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
}
.ng-social-button:before {
  content: "";
  display: inline-block;
}
.ng-social-button:hover {
  text-decoration: none;
}
.ng-social-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.ng-social-counter {
  position: relative;
  margin-left: -6px;
  padding: 1px 6px;
  font-weight: normal;
  border-radius: 0 3px 3px 0;
  color: #666;
  cursor: default;
}
.ng-social-counter:before,
.ng-social-counter:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
.ng-social-counter:before {
  top: 4px;
  left: -6px;
  border: 6px inset transparent;
  border-left: 0;
  border-right: 6px solid;
  border-right-color: inherit;
  opacity: .7;
}
.ng-social-counter:after {
  top: 5px;
  left: -4px;
  border: 5px inset transparent;
  border-left: 0;
  border-right: 5px solid;
}
.ng-social-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px 4px;
  font: 16px Verdana, Geneva, Tahoma, sans-serif;
  color: #999;
  cursor: pointer;
}
.ng-social-close:hover {
  color: #111;
}
.ng-social-close:before {
  display: none;
}
.ng-social_vertical {
  margin: -6px -4px;
}
.ng-social_vertical .ng-social-widget {
  display: block;
  margin: 6px 4px;
}
.ng-social_single-w {
  position: relative;
  display: inline-block;
}
.ng-social_single {
  position: absolute;
  display: none;
  top: -6px;
  left: -6px;
  padding: 6px 6px 4px;
  background: #fff;
  text-align: left;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 99999;
}
.ng-social_single .ng-social__widget:first-of-type {
  margin-right: 14px;
}
/* Single button */
.ng-social-button_single {
  position: relative;
  padding-left: 19px;
  background: #e2e2e2;
  background-color: #efefef;
  background-image: -moz-linear-gradient(#f7f7f7, #e2e2e2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#e2e2e2));
  background-image: -webkit-linear-gradient(#f7f7f7, #e2e2e2);
  background-image: -o-linear-gradient(#f7f7f7, #e2e2e2);
  background-image: linear-gradient(to bottom, #f7f7f7, #e2e2e2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7f7f7', endColorstr='#ffe2e2e2', GradientType=0);
  color: #444;
  border-color: #ccc;
  border-color: rgba(179, 179, 179, 0.8);
  border-bottom-color: rgba(153, 153, 153, 0.8);
}
.ng-social-button_single:hover {
  background: #f4f4f4;
  background-color: #e3e3e3;
  background-image: -moz-linear-gradient(#f0f0f0, #cfcfcf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#cfcfcf));
  background-image: -webkit-linear-gradient(#f0f0f0, #cfcfcf);
  background-image: -o-linear-gradient(#f0f0f0, #cfcfcf);
  background-image: linear-gradient(to bottom, #f0f0f0, #cfcfcf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#ffcfcfcf', GradientType=0);
  color: #222;
  border-color: #bbb;
  border-bottom-color: #9f9f9f;
}
.ng-social-icon_single {
  background-image: url('images/single.png');
  background-position: 2px 3px;
}
.ng-social-counter_single {
  background: #f6f6f6;
  border-color: #ddd;
}
.ng-social-counter_single:after {
  border-right-color: #f6f6f6;
}
/* Facebook */
.ng-social-facebook .ng-social-button {
  padding-left: 19px;
  background: #3b5998;
  background-color: #4567ac;
  background-image: -moz-linear-gradient(#4c70ba, #3b5998);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4c70ba), to(#3b5998));
  background-image: -webkit-linear-gradient(#4c70ba, #3b5998);
  background-image: -o-linear-gradient(#4c70ba, #3b5998);
  background-image: linear-gradient(to bottom, #4c70ba, #3b5998);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4c70ba', endColorstr='#ff3b5998', GradientType=0);
  color: #fff;
  border-color: #1e2e4f;
}
.ng-social-facebook .ng-social-button:hover {
  border-color: #2d4373;
  background-color: #355089;
  background-image: -moz-linear-gradient(#3b5998, #2d4373);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#2d4373));
  background-image: -webkit-linear-gradient(#3b5998, #2d4373);
  background-image: -o-linear-gradient(#3b5998, #2d4373);
  background-image: linear-gradient(to bottom, #3b5998, #2d4373);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff2d4373', GradientType=0);
}
.ng-social-facebook .ng-social-icon {
  background-image: url('images/facebook.png');
  background-position: 3px 3px;
}
.ng-social-facebook .ng-social-counter {
  background: #ebeef5;
  border-color: #3b5998;
}
.ng-social-facebook .ng-social-counter:after {
  border-right-color: #ebeef5;
}
/* Twitter */
.ng-social-twitter .ng-social-button {
  padding-left: 19px;
  background: #d5e6ef;
  background-color: #ebf3f7;
  background-image: -moz-linear-gradient(#fafcfd, #d5e6ef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafcfd), to(#d5e6ef));
  background-image: -webkit-linear-gradient(#fafcfd, #d5e6ef);
  background-image: -o-linear-gradient(#fafcfd, #d5e6ef);
  background-image: linear-gradient(to bottom, #fafcfd, #d5e6ef);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafcfd', endColorstr='#ffd5e6ef', GradientType=0);
  color: #186487;
  border-color: #a4cce5;
}
.ng-social-twitter .ng-social-button:hover {
  border-color: #9cbbcf;
  background-color: #deeef6;
  background-image: -moz-linear-gradient(#f2f8fc, #bfdfed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f8fc), to(#bfdfed));
  background-image: -webkit-linear-gradient(#f2f8fc, #bfdfed);
  background-image: -o-linear-gradient(#f2f8fc, #bfdfed);
  background-image: linear-gradient(to bottom, #f2f8fc, #bfdfed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f8fc', endColorstr='#ffbfdfed', GradientType=0);
  color: #0b3752;
}
.ng-social-twitter .ng-social-icon {
  background-image: url('images/twitter.png');
  background-position: 3px 5px;
}
.ng-social-twitter .ng-social-counter {
  background: #fbfdfd;
  border-color: #a4cce5;
}
.ng-social-twitter .ng-social-counter:after {
  border-right-color: #fbfdfd;
}
/* Google+ */
.ng-social-google-plus .ng-social-button {
  padding-left: 19px;
  background: #e4e4e4;
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(#f5f5f5, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e4e4e4));
  background-image: -webkit-linear-gradient(#f5f5f5, #e4e4e4);
  background-image: -o-linear-gradient(#f5f5f5, #e4e4e4);
  background-image: linear-gradient(to bottom, #f5f5f5, #e4e4e4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe4e4e4', GradientType=0);
  color: #cd4427;
  border-color: #bbbbbb;
}
.ng-social-google-plus .ng-social-button:hover {
  background: #f4f4f4;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(#f9f9f9, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f0f0f0));
  background-image: -webkit-linear-gradient(#f9f9f9, #f0f0f0);
  background-image: -o-linear-gradient(#f9f9f9, #f0f0f0);
  background-image: linear-gradient(to bottom, #f9f9f9, #f0f0f0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff0f0f0', GradientType=0);
  color: #cd4427;
  border-color: #ddd;
}
.ng-social-google-plus .ng-social-icon {
  background-image: url('images/googleplus.png');
  background-position: 0 6px;
}
.ng-social-google-plus .ng-social-counter {
  background: #fcfcfc;
  border-color: #bbbbbb;
}
.ng-social-google-plus .ng-social-counter:after {
  border-right-color: #fcfcfc;
}
/* Vkontakte */
.ng-social-vk .ng-social-button {
  padding-left: 19px;
  background: #436f96;
  background-color: #4f7ea8;
  background-image: -moz-linear-gradient(#5889b4, #436f96);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5889b4), to(#436f96));
  background-image: -webkit-linear-gradient(#5889b4, #436f96);
  background-image: -o-linear-gradient(#5889b4, #436f96);
  background-image: linear-gradient(to bottom, #5889b4, #436f96);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5889b4', endColorstr='#ff436f96', GradientType=0);
  color: #fff;
  border-color: #243b4f;
}
.ng-social-vk .ng-social-button:hover {
  border-color: #335573;
  background-color: #3d6588;
  background-image: -moz-linear-gradient(#436f96, #335573);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#436f96), to(#335573));
  background-image: -webkit-linear-gradient(#436f96, #335573);
  background-image: -o-linear-gradient(#436f96, #335573);
  background-image: linear-gradient(to bottom, #436f96, #335573);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff436f96', endColorstr='#ff335573', GradientType=0);
}
.ng-social-vk .ng-social-icon {
  background-image: url('images/vkontakte.png');
  background-position: 1px 2px;
}
.ng-social-vk .ng-social-counter {
  background: #ecf1f5;
  border-color: #436f96;
}
.ng-social-vk .ng-social-counter:after {
  border-right-color: #ecf1f5;
}
/* Odnoklassniki */
.ng-social-odnoklassniki .ng-social-button {
  padding-left: 19px;
  background: #f6900b;
  background-color: #f6aa46;
  background-image: -moz-linear-gradient(#f6bb6d, #f6900b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6bb6d), to(#f6900b));
  background-image: -webkit-linear-gradient(#f6bb6d, #f6900b);
  background-image: -o-linear-gradient(#f6bb6d, #f6900b);
  background-image: linear-gradient(to bottom, #f6bb6d, #f6900b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6bb6d', endColorstr='#fff6900b', GradientType=0);
  color: #fff;
  border-color: #c77407;
}
.ng-social-odnoklassniki .ng-social-button:hover {
  border-color: #c77407;
  background-color: #f9b843;
  background-image: -moz-linear-gradient(#fbcc5a, #f69a21);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbcc5a), to(#f69a21));
  background-image: -webkit-linear-gradient(#fbcc5a, #f69a21);
  background-image: -o-linear-gradient(#fbcc5a, #f69a21);
  background-image: linear-gradient(to bottom, #fbcc5a, #f69a21);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbcc5a', endColorstr='#fff69a21', GradientType=0);
}
.ng-social-odnoklassniki .ng-social-icon {
  background-image: url('images/odnoklassniki.png');
  background-position: 4px 3px;
}
.ng-social-odnoklassniki .ng-social-counter {
  background: #fef4e7;
  border-color: #c77407;
}
.ng-social-odnoklassniki .ng-social-counter:after {
  border-right-color: #fef4e7;
}
/* Mail.ru */
.ng-social-mailru .ng-social-button {
  padding-left: 19px;
  background: #004584;
  background-color: #3872a4;
  background-image: -moz-linear-gradient(#5d90ba, #004584);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5d90ba), to(#004584));
  background-image: -webkit-linear-gradient(#5d90ba, #004584);
  background-image: -o-linear-gradient(#5d90ba, #004584);
  background-image: linear-gradient(to bottom, #5d90ba, #004584);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5d90ba', endColorstr='#ff004584', GradientType=0);
  color: #fff;
  border-color: #002a51;
}
.ng-social-mailru .ng-social-button:hover {
  border-color: #002a51;
  background-color: #3a608e;
  background-image: -moz-linear-gradient(#618cae, #001e5d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#618cae), to(#001e5d));
  background-image: -webkit-linear-gradient(#618cae, #001e5d);
  background-image: -o-linear-gradient(#618cae, #001e5d);
  background-image: linear-gradient(to bottom, #618cae, #001e5d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff618cae', endColorstr='#ff001e5d', GradientType=0);
}
.ng-social-mailru .ng-social-icon {
  background-image: url('images/mailru.png');
  background-position: 4px 3px;
}
.ng-social-mailru .ng-social-counter {
  background: #e6ecf3;
  border-color: #002a51;
}
.ng-social-mailru .ng-social-counter:after {
  border-right-color: #e6ecf3;
}
/* Pinterest */
.ng-social-pinterest .ng-social-button {
  padding-left: 19px;
  background: #eeeeee;
  background-color: #ededed;
  background-image: -moz-linear-gradient(#fefefe, #d3d3d3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#d3d3d3));
  background-image: -webkit-linear-gradient(#fefefe, #d3d3d3);
  background-image: -o-linear-gradient(#fefefe, #d3d3d3);
  background-image: linear-gradient(to bottom, #fefefe, #d3d3d3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#ffd3d3d3', GradientType=0);
  color: #c71a28;
  border-color: #d5d5d5;
}
.ng-social-pinterest .ng-social-button:hover {
  border-color: #d5d5d5;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(#ffffff, #d9d9d9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d9d9d9));
  background-image: -webkit-linear-gradient(#ffffff, #d9d9d9);
  background-image: -o-linear-gradient(#ffffff, #d9d9d9);
  background-image: linear-gradient(to bottom, #ffffff, #d9d9d9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd9d9d9', GradientType=0);
}
.ng-social-pinterest .ng-social-icon {
  background-image: url('images/pinterest.png');
  background-position: 2px 1px;
}
.ng-social-pinterest .ng-social-counter {
  background: #fdfdfd;
  border-color: #d5d5d5;
}
.ng-social-pinterest .ng-social-counter:after {
  border-right-color: #fdfdfd;
}
/* GitHub */
.ng-social-github .ng-social-button,
.ng-social-github-forks .ng-social-button {
  padding-left: 19px;
  background: #e6e6e6;
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(#fafafa, #eaeaea);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#eaeaea));
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: -o-linear-gradient(#fafafa, #eaeaea);
  background-image: linear-gradient(to bottom, #fafafa, #eaeaea);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffeaeaea', GradientType=0);
  color: #555;
  border-color: #cdcdcd;
}
.ng-social-github .ng-social-button:hover,
.ng-social-github-forks .ng-social-button:hover {
  border-color: #cdcdcd;
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(#ffffff, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(#ffffff, #f0f0f0);
  background-image: -o-linear-gradient(#ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f0f0', GradientType=0);
  color: #444;
}
.ng-social-github .ng-social-icon,
.ng-social-github-forks .ng-social-icon {
  background-image: url('images/github.png');
  background-position: 3px 3px;
}
.ng-social-github .ng-social-counter,
.ng-social-github-forks .ng-social-counter {
  background: #fdfdfd;
  border-color: #cdcdcd;
}
.ng-social-github .ng-social-counter:after,
.ng-social-github-forks .ng-social-counter:after {
  border-right-color: #fdfdfd;
}
/* StumbleUpon */
.ng-social-stumbleupon .ng-social-button {
  padding-left: 19px;
  background: #212121;
  background-color: #323232;
  background-image: -moz-linear-gradient(#3d3d3d, #212121);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3d3d3d), to(#212121));
  background-image: -webkit-linear-gradient(#3d3d3d, #212121);
  background-image: -o-linear-gradient(#3d3d3d, #212121);
  background-image: linear-gradient(to bottom, #3d3d3d, #212121);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d3d3d', endColorstr='#ff212121', GradientType=0);
  color: #fff;
  border-color: #080808;
}
.ng-social-stumbleupon .ng-social-button:hover {
  border-color: #080808;
  background-color: #4b4b4b;
  background-image: -moz-linear-gradient(#575757, #3b3b3b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#575757), to(#3b3b3b));
  background-image: -webkit-linear-gradient(#575757, #3b3b3b);
  background-image: -o-linear-gradient(#575757, #3b3b3b);
  background-image: linear-gradient(to bottom, #575757, #3b3b3b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff575757', endColorstr='#ff3b3b3b', GradientType=0);
  color: #fff;
}
.ng-social-stumbleupon .ng-social-icon {
  background-image: url('images/10-stumbleupon.png');
  background-position: 1px 1px;
}
.ng-social-stumbleupon .ng-social-counter {
  background: #e9e9e9;
  border-color: #080808;
}
.ng-social-stumbleupon .ng-social-counter:after {
  border-right-color: #e9e9e9;
}
