﻿@using Ahav.Web.ServiceModel.Resources;
<div id="footer" class="row-fluid">  
    <div class="row-fluid" id="footer-nav">
        <ul>
            <li><a href="/bambora/about">@ViewsResources.Footer_Navigation_1</a></li>
            <li><a href="/bambora/bio">@ViewsResources.Footer_Navigation_2</a></li>
            <li><a href="/bambora/catalog">@ViewsResources.Footer_Navigation_3</a></li>
            <li><a href="http://www.etsy.com/shop/bambora" target="_blank">@ViewsResources.Footer_Navigation_4</a></li>
            <li><a href="/bambora/blog">@ViewsResources.Footer_Navigation_5</a></li>
            <li><a href="/bambora/credits">@ViewsResources.Footer_Navigation_6</a></li>
            <li><a href="/bambora/contact">@ViewsResources.Footer_Navigation_7</a></li>
            <li><a href="/bambora/press">@ViewsResources.Footer_Navigation_8</a></li>
            <li><a href="/bambora/partners">@ViewsResources.Footer_Navigation_9</a></li>
        </ul>
    </div>
    @Html.Raw(ViewsResources.Footer_Disclaimer)
</div>