﻿@using Ahav.ServiceInterface.Extensions
<!DOCTYPE html>
<html id="ng-app" ng-app="bamboraApp" xmlns:ng="http://angularjs.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        @Html.Partial("HeaderInit")        
        <link rel="stylesheet/less" type="text/css" href="/less/app.less" />
        <link rel="stylesheet/less" type="text/css" href="/less/bamboraApp.less" />
        <script type="text/javascript" src="/assets/js/less.js"></script>
        <script type="text/javascript" src="/assets/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap-dropdown.js"></script>
        <script type="text/javascript" src="/js/bamboraApp.js"></script>
        <script type="text/javascript" src="/js/Controllers/contentController.js"></script>
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            // Load the SDK asynchronously
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <header>
        header  
        </header>
        <div class="container">

        </div>
        @Html.Partial("AngularJsTemplates")
    </body>
</html>

