﻿<!DOCTYPE html>
<html id="ng-app" ng-app="bamboraApp" xmlns:ng="http://angularjs.org">
    <head>
        <title>Bambora</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width" />
        @Html.Partial("HeaderInit") 
        <link rel="stylesheet/less" type="text/css" href="/less/bamboraApp.less" />
        <link rel="shortcut icon" href="/static/faviconbambora.ico" />
        <!-- <script type="text/javascript">less.watch();</script> -->
        <script type="text/javascript" src="/assets/js/less.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div><a name="top_anchor"></a>
                <div ng-view>
            
                </div>
            </div>
        </div>
        @*   <div id="footer" class="row-fluid">
            <div class="row-fluid">
                <div ng-show="showFooterMenu" class="row-fluid" id="footer-nav">
                    <ul>
                        <li><a ng-click="slideSection('top_anchor');" href="/about">@ViewsResources.Footer_Navigation_1</a></li>
                        <li><a ng-click="slideSection('top_anchor');" href="/bio">@ViewsResources.Footer_Navigation_2</a></li>
                        <li><a href="/catalog">@ViewsResources.Footer_Navigation_3</a></li>
                        <li><a href="http://www.etsy.com/shop/bambora" target="_blank">@ViewsResources.Footer_Navigation_4</a></li>
                        <li><a href="/blog">@ViewsResources.Footer_Navigation_5</a></li>
                        <li><a href="/credits">@ViewsResources.Footer_Navigation_6</a></li>
                        <li><a href="/contact">@ViewsResources.Footer_Navigation_7</a></li>
                        <li><a href="/press">@ViewsResources.Footer_Navigation_8</a></li>
                        <li><a href="/partners">@ViewsResources.Footer_Navigation_9</a></li>
                    </ul>
                </div>
            </div>
            @Html.Raw(ViewsResources.Footer_Disclaimer)
        </div>*@
        @Html.Partial("LayoutBottomAssets")
        <script type="text/javascript" src="/js/bamboraApp.js"></script>
        @Html.Partial("AngularJsTemplates")
    </body>
</html>
