﻿@using Ahav.Web.ServiceModel.Resources;
<div id="header">
<img src="/static/bio_header.png" class="img_header" />
</div>
<div class="content">  
	<img alt="Bio" class="content_title" src="/static/bio_title.png" />
	<div class="row row-marginbottom">
		<div class="col-lg-6">
			<p><img alt="Anita" class="img-responsive" src="/static/bio_anita.png" /></p>
		</div>
		<div class="col-lg-6">
		@Html.Raw(ViewsResources.Bio_Anita)	
		</div>
	</div>
	<div class="row row-marginbottom">
		<div class="col-lg-6">
			<p><img alt="Xana" class="img-responsive" src="/static/bio_xana.png" /></p>
		</div>
		<div class="col-lg-6">
			@Html.Raw(ViewsResources.Bio_Xana)
		</div>
	</div>
	@Html.Raw(ViewsResources.Bio_1)
	@Html.Partial("_BackButton")
    @Html.Partial("_FooterNavigation")
</div>  