﻿@using Ahav.Web.ServiceModel.Resources;
<div id="header">
<img src="/static/parcerias_header.png" class="img_header" />
</div>
<div class="content content_parcerias">
	<img alt="CrÃ©ditos" class="content_title" src="/static/parcerias_title_en.png" />
	<img alt="Imagem Bambora" class="content_image" src="/static/parcerias_banner.png" />
	<div class="row">
		<div class="col-lg-4"><a href="https://www.facebook.com/pages/Butterfly-Arts-Crafts/347434561933316" target="_blank"><img src="/static/parcerias_butterfl.gif" alt="" /></a></div>
		<div class="col-lg-4"><a href="http://www.pai.pt/chiadinho-ldao-vitoria-4050-290/" target="_blank"><img src="/static/parcerias_chiadinho.gif" alt="" /></a></div>
		<div class="col-lg-4"><a href="https://www.facebook.com/rubrika.authorpieces" target="_blank"><img src="/static/parcerias_rubrika.gif" alt="" /></a></div>
	</div>	
	<div class="row">
		<div class="col-lg-4"><a href="#"><img src="/static/parcerias_ch_portorib.gif" alt="" /></a></div>
		<div class="col-lg-4"><a href="https://www.facebook.com/pages/Dicas-da-Madalena/452617001455094" target="_blank"><img src="/static/parcerias_dicasm.gif" alt="" /></a></div>
		<div class="col-lg-4"><a href="http://www.yogaporto.com/" target="_blank"><img src="/static/parcerias_yoga.gif" alt="" /></a></div>
	</div>	
	<div class="row">
		<div class="col-lg-4"><a href="https://www.facebook.com/pages/Hart-Portugal-Loja-Colaborativa-de-Artesanato/188157637879620?sk=page_map" target="_blank"><img src="/static/parcerias_lhart.gif" alt="" /></a></div>
		<div class="col-lg-4"><a href="https://www.facebook.com/pages/Sarilhos-de-Linha/476159995795344" target="_blank"><img src="/static/parcerias_sarilhos.gif" alt="" /></a></div>
		<div class="col-lg-4"><a href="http://www.behance.net/tanyaferreira" target="_blank"><img src="/static/parcerias_tanya.png" alt="" /></a></div>
	</div>	
</div>  
@Html.Partial("_BackButton")
@Html.Partial("_FooterNavigation")