﻿@using Ahav.Web.ServiceModel.Resources;
<div id="header">
<img src="/static/bambora_header.png" class="img_header" />
</div>
<div class="content"> 
	<img alt="Bambora" class="content_title" src="/static/bambora_title.gif" />
	<img alt="Imagem Bambora" class="content_image" src="/static/bambora_image_en.png" />
	@Html.Raw(ViewsResources.About_1)
	@Html.Partial("_BackButton")
    @Html.Partial("_FooterNavigation")
</div>  