﻿@using Ahav.Web.ServiceModel.Resources;
<div id="header">
<img src="/static/creditos_header.png" class="img_header" />
</div>
<div class="content content_creditos">
	<img alt="Créditos" class="content_title" src="/static/credits_title.png" />
	<div class="row author_container">
		<div class="col-lg-6">
			<p><img alt="Ana" class="span12" src="/static/creditos_ana.png" /></p>
		</div>
		<div class="col-lg-6">
			@Html.Raw(ViewsResources.Credits_AnaLuisa)
		</div>
	</div>
	<div class="row author_container">
		<div class="col-lg-6">
			<p><img alt="Xana" class="span12" src="/static/creditos_marta.png" /></p>
		</div>
		<div class="col-lg-6">
			@Html.Raw(ViewsResources.Credits_MartaAzevedo)
		</div>
	</div>
	<div class="row author_container">
		<div class="col-lg-6">
			<p><img alt="Marta" class="span12" src="/static/creditos_ricardo.png" /></p>
		</div>
		<div class="col-lg-6">
			@Html.Raw(ViewsResources.Credits_RicardoSeverino)
		</div>
	</div>
	<div class="row author_container">
		<div class="col-lg-6">
			<p><img alt="Marta" class="span12" src="/static/creditos_tania.png" /></p>
		</div>
		<div class="col-lg-6">
			@Html.Raw(ViewsResources.Credits_TaniaFerreira)
		</div>
	</div>
	<div class="row author_container	">
		<div class="col-lg-6">
			<p><img alt="Marta" class="span12 author_img" src="/static/creditos_tiago.png" /></p>
		</div>
		<div class="col-lg-6">
			@Html.Raw(ViewsResources.Credits_TiagoViana)
		</div>
	</div>
    <div class="row author_container" style="margin-bottom:25px;">
		<div class="col-lg-6">
			<p><img alt="Maria" class="span12" src="/static/creditos_maria.png" /></p>
		</div>
		<div class="col-lg-6">
			@Html.Raw(ViewsResources.Credits_MariaPeixoto)
		</div>
	</div>
    <div class="row author_container">
		<div class="col-lg-6">
			<p><img alt="Tiago Vaz Osorio" class="span12" src="/static/creditos_tiago2.png" /></p>
		</div>
		<div class="col-lg-6">
			@Html.Raw(ViewsResources.Credits_TiagoVazOsario)
		</div>
	</div>
    <div class="row author_container">
		<div class="col-lg-6">
			<p><img alt="Tiago Vaz Osorio" class="span12" src="/static/creditos_sofia.png" /></p>
		</div>
		<div class="col-lg-6">
			@Html.Raw(ViewsResources.Credits_SofiaSilva)
		</div>
	</div>
	<img alt="Créditos" class="content_title" src="/static/credits_title_model.png" />
	<div class="row">
		<img alt="Créditos" class="content_title span12" src="/static/credits_model.png" />
	</div>
</div>  
@Html.Partial("_BackButton")
@Html.Partial("_FooterNavigation")