﻿@using Ahav.Web.ServiceModel.Resources;
<div id="header">
<img src="/static/contactos_header.png" class="img_header" />
</div>
<div class="content content_contactos">  
	<img alt="Bambora" class="content_title" src="/static/contacts_title.png" />
	<div class="row">
		<div class="col-lg-6">
			<p><img alt="Imagem Bambora" class="content_image" src="/static/contactos_image.png" /></p>
			<p class="color_1 f_big">@ViewsResources.Contacts_Header</p>
			<a href="http://twitter.com/bamboraonline" target="_blank"><img src="/static/contatos_button_t.png" /></a>
			<a href="https://pinterest.com/bamboraonline/" target="_blank"><img src="/static/contatos_button_p.png" /></a>
			<a href="http://facebook.com/bamboraonline" target="_blank"><img src="/static/contatos_button_f.png" /></a>
			<a href="#contacto" data-target="#contact_modal" data-toggle="modal"><img src="/static/contatos_button_envelop.png" /></a>

		</div>
		<div class="col-lg-6 align-right">
			<p class="color_1 f_big">@ViewsResources.Contacts_1</p>
			<p><span class="color_1 f_big">Anita:</span> 00351 933 260 440</p>
			<p><span class="color_1 f_big">Xana:</span> 00351 911 136 593</p>
            <br/>
            <p class="color_1 f_big">@ViewsResources.Contacts_2</p>
            <p><span class="color_1 f_big">Tiago Vaz OsÃ³rio:</span> 00351912112548</p>
			<p><span class="color_1 f_big">Maria Peixoto: </span> 00351915018093</p>
            <br />
			<p class="color_1 f_big">Email:</p>
			<p>info@bamboraonline.com</p>
            <br/>
			<p class="color_1 f_big">@ViewsResources.Contacts_3</p>
            @Html.Raw(ViewsResources.Contacts_4)
			
			<p class="color_1 f_big">Blog:</p>
			<p><a href="http://bamboraonline.com/en/blogtmpen/">http://bamboraonline.com/en/blogtmpen</a></p>
		</div>
	</div>
	@Html.Partial("_BackButton")
    @Html.Partial("_FooterNavigation")
</div>  