﻿@using Ahav.Web.ServiceModel.Resources;
<div id="header">
<img src="/static/imprensa_header.gif" class="img_header" />
</div>
<div class="content content_parcerias">
	<img alt="CrÃ©ditos" class="content_title" src="/static/imprensa_title_en.png" />
		
	<div style="position:relative; min-height:1050px;" class="clearfix">
	<a target="_blank" style="position: absolute; top:0; left:0;" href="https://www.facebook.com/photo.php?fbid=176188925866757&set=a.176188912533425.1073741834.132775053541478&type=3&src=https%3A%2F%2Ffbcdn-sphotos-b-a.akamaihd.net%2Fhphotos-ak-prn1%2F537390_176188925866757_1591209488_n.jpg&size=673%2C960"><img src="/static/imprensa_10.gif" /></a>
	<a target="_blank" style="position: absolute; top:0; right:0;" href="https://www.facebook.com/photo.php?fbid=177482279070755&set=a.176188912533425.1073741834.132775053541478&type=3&src=https%3A%2F%2Ffbcdn-sphotos-a-a.akamaihd.net%2Fhphotos-ak-prn1%2F3001_177482279070755_14243827_n.jpg&size=960%2C638"><img src="/static/imprensa_12.gif" /></a>
	<a target="_blank" style="position: absolute; top:242px; left:0;" href="https://www.facebook.com/photo.php?fbid=201267003358949&set=a.176188912533425.1073741834.132775053541478&type=3&src=https%3A%2F%2Ffbcdn-sphotos-e-a.akamaihd.net%2Fhphotos-ak-frc3%2F969992_201267003358949_1676635400_n.jpg&size=549%2C400"><img src="/static/imprensa_15.gif" /></a>
	<a target="_blank" style="position: absolute; top:500px; left:0;" href="https://www.facebook.com/photo.php?fbid=176188929200090&set=a.176188912533425.1073741834.132775053541478&type=3&src=https%3A%2F%2Ffbcdn-sphotos-c-a.akamaihd.net%2Fhphotos-ak-ash4%2F392600_176188929200090_2036205427_n.jpg&size=673%2C960"><img src="/static/imprensa_23.gif" /></a>
	<a target="_blank" style="position: absolute; top:431px; right:0;" href="https://www.facebook.com/photo.php?fbid=202893209862995&set=a.176188912533425.1073741834.132775053541478&type=3&src=https%3A%2F%2Ffbcdn-sphotos-d-a.akamaihd.net%2Fhphotos-ak-prn2%2F981272_202893209862995_254296906_o.jpg&smallsrc=https%3A%2F%2Ffbcdn-sphotos-d-a.akamaihd.net%2Fhphotos-ak-frc1%2F600566_202893209862995_254296906_n.jpg&size=1492%2C2048"><img src="/static/imprensa_20.gif" /></a>
	<a target="_blank" style="position: absolute; top:431px; right:328px;" href="https://www.facebook.com/photo.php?fbid=181663408652642&set=a.176188912533425.1073741834.132775053541478&type=3&src=https%3A%2F%2Ffbcdn-sphotos-d-a.akamaihd.net%2Fhphotos-ak-ash3%2F535941_181663408652642_882927964_n.jpg&size=695%2C960"><img src="/static/imprensa_18.gif" /></a>
	<a target="_blank" style="position: absolute; top:621px; right:358px;" href="http://www.bestfranchising.pt/ver_noticia.aspx?idnoticia=2536" target="_blank"><img src="/static/imprensa_27.gif" /></a>
	<a target="_blank" style="position: absolute; top:821px; right:0;" target="_blank" href="http://www.portaldemoda.pt/pt/noticias/bambora-especial-dia-da-mae/"><img src="/static/imprensa_37.gif"/></a>
	<a target="_blank" style="position: absolute; top:821px; right:165px;" href="http://www.portaldemoda.pt/pt/noticias/bambora-especial-dia-da-mae/" target="_blank"><img src="/static/imprensa_35.gif" /></a>
	<a target="_blank" style="position: absolute; top:738px; left:0;" href="https://www.facebook.com/photo.php?fbid=187142391438077&set=a.176188912533425.1073741834.132775053541478&type=3&src=https%3A%2F%2Ffbcdn-sphotos-c-a.akamaihd.net%2Fhphotos-ak-ash3%2F919350_187142391438077_2077269318_o.jpg&smallsrc=https%3A%2F%2Ffbcdn-sphotos-c-a.akamaihd.net%2Fhphotos-ak-ash3%2F945707_187142391438077_2077269318_n.jpg&size=1637%2C1904"><img src="/static/imprensa_31.gif"  /></a>
	<a target="_blank" style="position: absolute; top:738px; right:328px;" href="https://www.facebook.com/photo.php?fbid=204369893048660&set=a.176188912533425.1073741834.132775053541478&type=3&src=https%3A%2F%2Ffbcdn-sphotos-h-a.akamaihd.net%2Fhphotos-ak-ash3%2F942827_204369893048660_229254832_n.jpg&size=637%2C370"><img src="/static/imprensa_33.gif" /></a>
	<a target="_blank" style="position: absolute; top:928px; left:0;"  href="http://p3.publico.pt/vicios/espelho/7497/bambora-beleza-faz-se-mao" target="_blank"><img src="/static/imprensa_41.gif" /></a>
	</div>
</div>  
@Html.Partial("_BackButton")
@Html.Partial("_FooterNavigation")
