﻿              <style type="text/css">
		.viewport {
			/*min-height: 340px ;*/
			position: relative ;
			width: 100%;
		}

		.viewport img.autofade {
			display: none ;
			/*min-height: 340px ;*/
			left: 0px ;
			position: absolute ;
			top: 0px ;
			width: 100% ;
			z-index: 2 ;
		}

		.viewport img.autofade.show {
			display: block ;
			transition: opacity 250ms ease ;
		}

		.viewport img.autofade.fadeOut {
			opacity: 0 ;
		}

		.viewport img.primary {
			display: block ;
			/*min-height: 340px ;*/
			width: 100% ;
		}

		.nav {
			cursor: default ;
			text-align: center ;
			width: 100% ;
		}

		.nav a {
			background-color: #FAFAFA ;
			border: 1px solid #CCCCCC ;
			color: #333333 ;
			display: inline-block ;
			padding: 4px 9px 2px 9px ;
			text-decoration: none ;
		}

	</style>
<div id="header" style="text-align:center;">
	<img alt="Logotipo" src="/static/home_title.png" class="logo" />
</div>
<div class="content clearfix">  
	<div class="row-fluid">
		<div class="span6">
			<a href="#contacto" data-target="#newsletter_modal" data-toggle="modal">Receba a nossa Newsletter!</a>
		</div>
        <div class="span6 align-right">
            <span class="color_1">Português</span> - <a href="/culture/en">English</a>
        </div>
	</div>
    <div id="home_slideshow">
        <div data-g-slide class="viewport" images="{'images': ['/static/homemenu_1.png', '/static/homemenu_2.png', '/static/homemenu_3.png', '/static/homemenu_1.png', '/static/homemenu_2.png', '/static/homemenu_3.png', '/static/homemenu_1.png', '/static/homemenu_2.png', '/static/homemenu_3.png', '/static/homemenu_1.png', '/static/homemenu_2.png', '/static/homemenu_3.png', '/static/homemenu_1.png', '/static/homemenu_2.png', '/static/homemenu_3.png']">
        </div>
    </div>
	<div id="menu" class="clearfix">
		<ul>
			<li>
				<a href="/bambora/about" class="clearfix"><img id="home_menu1" src="/static/home_menu1.png"/>
					<div class="infoHover_container"><div class="infoHover" style="display:none;">Bambora</div></div>
				</a>
			</li>
			<li>
				<a href="/bambora/bio" class="clearfix"><img src="/static/home_menu2.png" />
					<div class="infoHover_container"><div class="infoHover" style="display:none;">Biografias</div></div>
				</a>
			</li>
			<li>
				<a href="/bambora/catalog" class="clearfix"><img src="/static/home_menu3.png">
					<div class="infoHover_container"><div class="infoHover" style="display:none;">CatÃ¡logo</div></div>
				</a>
			</li>
			<li>
				<a href="/bambora/store" onclick="store();" class="clearfix"><img src="/static/home_menu4.png">
					<div class="infoHover_container"><div class="infoHover" style="display:none;">Loja</div></div>
				</a>
			</li>
			<li>
				<a href="/bambora/blog" class="clearfix"><img src="/static/home_menu5.png">
					<div class="infoHover_container"><div class="infoHover" style="display:none;">Blog</div></div>
				</a>
			</li>
			<li>
				<a href="/bambora/credits" class="clearfix"><img src="/static/home_menu6.png">
					<div class="infoHover_container"><div class="infoHover" style="display:none;">CrÃ©ditos</div></div>
				</a>
			</li>
			<li>
				<a href="/bambora/contact" class="clearfix"><img src="/static/home_menu7.png">
					<div class="infoHover_container"><div class="infoHover" style="display:none;">Contactos</div></div>
				</a>
			</li>
			<li>
				<a href="/bambora/press" class="clearfix"><img src="/static/home_menu8.png">
					<div class="infoHover_container"><div class="infoHover" style="display:none;">Imprensa</div></div>
				</a>
			</li>
			<li>
				<a href="/bambora/partners" class="clearfix"><img src="/static/home_menu9.png">
					<div class="infoHover_container"><div class="infoHover" style="display:none;">Parcerias</div></div>
				</a>
			</li>
		</ul>
	</div>
    <?php

	<div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
</div>