﻿@using Ahav
@using Ahav.Infrastructure.Extensions
@using Ahav.ServiceInterface.Extensions
<!DOCTYPE html>
<html id="ng-app" ng-app="adminApp" xmlns:ng="http://angularjs.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title data-ng-bind="headTitle"></title> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Html.RenderCssBundle("~/less/admin.css.bundle", BundleOptions.Normal)
    </head>
    <body>
         @Html.Partial("AngularJsTemplates", BundleOptions.Normal)
        <div role="nav" class="nav navbar navbar-defaut navbar-admin navbar-fixed-top" role="navigation">
            <div class="">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" data-ui-sref="admin">Admin</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a data-ui-sref="content"><span class="glyphicon glyphicon-home"></span> Site</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Newsletters</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Contas</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Loja Online</a></li>
                        <li><a data-ui-sref="attachments"><span class="glyphicon glyphicon-picture"></span> Anexos</a></li>
                        <li><a data-ui-sref="apps"><span class="glyphicon glyphicon-home"></span> Apps</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-home"></span> {{appCurrent.domain}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a data-ui-sref="admin.project.add" href="#">Criar Projecto</a></li>
                                <li class="dropdown-header">Projectos</li>
                                <li data-ng-repeat="r in apps"><a href="#" data-ng-click="setProject(r.id)">{{r.domain}}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span> Blogs <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a ui-sref="blogCreate" href="#">Criar Blog</a></li>
                                <li><a href="#">Criar Post</a></li>
                                <li class="dropdown-header">Blogs</li>
                                <li data-ng-repeat="b in blogs"><a data-ui-sref="adminBlog({blogId: b.id})">{{b.name}} - {{b.subDomain}}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div ui-view="menu"></div>
                    <div>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a ui-sref="logout">Sair</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
        <div ui-view></div>
        @*<div class="container">
            <div class="row">
                <div class="col-lg-1" data-ng-show="layout.showLeft">
                    left
                </div>
                <div data-ng-class="{'col-lg-12' : !layout.showLeft, 'col-lg-11': layout.showLeft}">
                    <div ui-view></div> 
                </div>
            </div>
        </div>*@
        <script type="text/javascript">
            var _auth = { id: null, key: null };
            var _projectId = null;
            var _initScope = null;
            // inject all the initial scope
            @if (Request.IsAuthenticated())
            {
                <text>_auth = @Request.Items[AccountExtensions.AngularAuth].AsRaw();</text>
                if (Request.HasProject())
                {
                    <text>_projectId = '@Request.GetProjectId()';</text>
                }
            }
        </script>
        @Html.RenderJsBundle("~/apps/common/common.js.bundle", BundleOptions.Normal)
        @Html.RenderJsBundle("~/apps/admin/admin.js.bundle", BundleOptions.Normal)
        <script type="text/javascript">
            angular.module('angular-servicestack').config(function (serviceStackRestConfigProvider, $httpProvider) {

            });
        </script>
    </body>
</html>