﻿@inherits ViewPage<AdminHomeController>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h1 class="panel-title">Admin</h1>            
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-18">
                    <a data-ui-sref="admin.videoinit">Editar Video do Início</a>
                    <input type="button" class="btn" data-ng-click="addBlogModal()" value="Criar Blog" />
                    <input type="button" class="btn" value="Criar Projecto" data-ui-sref="admin.project.add" />
                    <div data-ng-if="projects.length > 0">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <h2>{{project.name}}</h2>
                                <a data-ng-href="/{{project.absoluteUrl}}">{{project.absoluteUrl}}</a>
                                <p>{{project.description}}</p>
                                <input type="button" class="btn" value="Editar" data-ng-click="editProjectModal();"/>
                            </div>
                            <div class="visible-xs clearfix"></div>
                            <div class="col-xs-12 col-md-6">

                            </div>
                        </div>
                    </div>
                    <div data-ng-if="apps.length == 0">
                        Ainda não crias-te nenhum projecto!
                    </div>
                </div>
                <div class="col-xs-6">Right</div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="editProjectModal.html">
    
</script>
<script type="text/ng-template" id="addAccountModal.html">
    <div class="modal-dialog">
        <form class="form" role="form" name="addAccountForm">
            <div class="modal-content">
                <div class="modal-header">Criar Conta</div>
                <div class="modal-body">
                    <div class="form-controls">
                        <label class="sr-only" for="email">Email</label>
                        <input type="text" placeholder="Email" name="email" data-ng-model="account.email" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Criar" data-ng-click="addAccount()" />
                    <input type="button" value="Cancelar" data-ng-click="cancel();" />
            </div>
        </form>
    </div>
</script>