﻿@*<div ng-controller="modalAttachController">
    <div ng-include="'/emplate/modal/content/attachs.html'"></div>
</div>*@
<div class="row">
    <div class="col-xs-2 col-sm-1">
        <ul class="nav nav-pills nav-stacked">
           <li><a href="#">Ficheiros</a></li> 
        </ul>
    </div>
    <div class="col-xs-10">
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" data-ng-repeat="file in files">
            <div class="thumbnail">
                <img alt="Imagem do Ficheiro" class="img-responsive" data-ng-src="{{file.thumbnailUrl}}" />  
                <div class="form-group">
                    <div class="caption">
                        <h4>{{file.name}}</h4>
                        <p>{{file.mediaType}}</p>
                    </div>
                    @*<label for="name" class="control-label">Nome</label>
                <input type="text" class="form-control" name="name" data-ng-model="file.name" />    *@
                </div>
            </div>
        </div>
    </div>
</div>