﻿<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>Escolhe!</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
<div class="row">
    <div class="col-xs-6">
        <h2>Domínio</h2>
        <div class="col-xs-4">
            <h3>Ahav</h3>
            <p>No pacote Premium, a configuração do domínio é automática :)</p>
        </div>
        <div class="col-xs-4">
            <h3>Windows Live</h3>
        </div>
        <div class="col-xs-4">
            <h3>Google Apps</h3>
        </div>
    </div>
    <div class="col-xs-6">
        <h2>Configurações de Email</h2>
        <div class="col-xs-3">
            <h3>Gmail</h3>
            <b>Limite Emails Mensal:</b> 3000
        </div>
        <div class="col-xs-3">
            <h3>Windows Live</h3>
            <b>Limite Remetentes:</b> 3000
        </div>
        <div class="col-xs-3">
            <h3>Mail Chimp</h3>
            <b>Limite Remetentes: </b> 2000
            <b>Limite Emails Mensal: </b> 12000
        </div>
        <div class="col-xs-3">
            <h3>Mail Chimp</h3>
            <b>Limite Remetentes: </b> 2000
            <b>Limite Emails Mensal: </b> 12000
        </div>
    </div>
</div>