﻿@inherits ViewPage<BlogArticleEditController>
<script type="text/javascript">var _scope = @Model.AsRawJson();</script>
<div data-tabset="tabset">
    <div data-tab="tab" data-heading="Escrever">
        <textarea rows="20" name="body" id="articleBody" required data-ng-model="article.body" ui-tinymce></textarea>
    </div>
    <div data-tab="tab" data-heading="Info">
        <label form="slug" class="control-label">Url</label>
        <input type="text" data-ng-model="article.slug" name="slug" placeholder="Url"/>
        <select class="form-control" data-ng-model="article.templateId" data-ng-options="t.id as t.name for t in templates">
            <option value="">Não Usar</option>
        </select>
    </div>
    <li class="dropdown" data-locales="locales"></li>
     <li data-ng-click="modalAttachs()">
       <a href="#"> Anexos ({{queue.length}})</a>
    </li>
    <li>
        <a data-ng-click="saveArticle()" href="#" ><span class="glyphicon glyphicon-floppy-save"></span> Guardar</a>
    </li>
    <li>
        <a data-ng-click="deleteArticle()" href="#"><span class="glyphicon glyphicon-trash"> Apagar</span></a>
    </li>

</div>