﻿@inherits ViewPage<Admin.ServiceModel.Operations.ViewBlogArticlesViewTemplateResponse>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"><h3>Template</h3></div>
        <div class="modal-body">
            <p>Escolhe um template para o início do blog.</p>
            <div class="row">
                <div class="form-group">
                    <label for="template" class="control-label">Tema</label>
                    <select name="template" class="form-control" data-ng-model="template" data-ng-options="t.id as t.name for t in templates">
                        <option value="">Não Usar</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn" value="Cancelar" data-ng-click="cancel()"/>
            <input type="button" class="btn" value="Guardar" data-ng-model="save()"/>
        </div>
    </div>
</div>