﻿@inherits ViewPage<BlogArticleCreateController>
<div class="modal-dialog">
    <div class="modal-content">
        <form class="form" role="form" name="addArticleForm">
            <div class="modal-header">Crar Artigo</div>
            <div class="modal-body">
                <p>Escolhe um título e URL</p>
                <div class="form-group">
                    <label class="sr-only control-label" for="subDomain">Url</label>
                    <input type="text" class="form-control" placeholder="Url" name="subDomain" required ng-model="article.subDomain" />
                </div>
                <div class="form-group">
                    <label class="sr-only control-label" for="name">Nome</label>
                    <input type="text" class="form-control" placeholder="Nome" name="name" required ng-model="article.name" />
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn" data-ng-click="close()" value="Cancelar" />
                <input type="button" class="btn" data-ng-click="addArticle()" value="Criar" />
            </div>
        </form>
    </div>
</div>