﻿@inherits ViewPage<BlogCreateController>
<div class="modal-dialog">
    <div class="modal-content">
        <form novalidate="novalidate" role="form" class="form">
            <div class="modal-header"><h3>Criar Blog</h3></div>
            <div class="modal-body">
                <p>Cria um novo log.</p>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">Nome</label>
                            <input type="text" class="form-control" data-ng-model="blog.name" placeholder="Nome" required/>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label">Sub Domínio</label>
                            <input type="text" class="form-control" data-ng-model="blog.subDomain" placeholder="Sub Domínio, Dominio, Url"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="template" class="control-label">Tema</label>
                            <select name="template" class="form-control" data-ng-model="blog.templateId" data-ng-options="t.id as t.name for t in templates">
                                <option value="">Não Usar</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn" data-ng-click="close()" value="Cancelar"/>
                <input type="button" class="btn" data-ng-show="!fs" data-ng-click="addBlog()" value="Criar"/>
            </div>
        </form>
    </div>
</div>