﻿@inherits ViewPage<BlogViewController>
<ul class="nav nav-tabs">
    <li><a data-ng-click="addArticleModal()" href="#"><span class="glyphicon glyphicon-plus"></span> Artigo</a></li>
    <li><a data-ui-sref="adminBlog.articlesTemplate">Escolher Tema</a></li>
    <li><a data-ng-click="setDefault()">Primário (/blog/)</a></li>
</ul>
<div data-ng-if="articles.length == 0">
    <p>Ainda não criaste nenhum artigo!</p>
    <p><a data-ng-click="addArticleModal()" href="#">Escreve o primeiro!</a></p>
</div>
Articles    
<ul>
    <li ng-repeat="article in articles">
        <a data-ui-sref="blogArticleEdit({articleId: article.id})">{{article.title}}</a>
    </li>
</ul>