﻿body
{
    font-size:2em;
}
@font-face { font-family: 'eurof35';	src: url('/fonts/eurof35.eot');src: local('eurof35'), url('/fonts/eurof35.ttf') format('truetype'); }
.fontsforweb_fontid_1310 { font-family: 'eurof35' !important;}
html { margin:0; padding:0; }
body {
	font-size:20px;
	color:#888888;
	font-family: "eurof35";
	margin:0; padding:0;
}
html, body { height:100%; }
* html #wrapper { height:90%;}
#wrapper {
  width:1050px; margin-left:auto; margin-right:auto;  min-height:95%;position:relative;
  margin-bottom:50px;
  -moz-box-shadow: 0px 0px 25px #888; -webkit-box-shadow: 0px 0px 25px #888;box-shadow: 0px 0px 25px #888;
}
#footer { text-align:center; font-size:13px; width:100%; }
#header { margin-bottom:10px; }

/* one column pages */
img.img_header { width:100%; margin:0; padding:0; margin-bottom:20px; }
.logo { width:200px; margin-top:10px;}
.content { width:1000px; padding:0; margin:0; margin-left:auto; margin-right:auto; text-align: justify; padding-bottom:45px;}
.content_title { margin-bottom:35px; }
.content_image { width:100%; margin:0; padding:0; margin-bottom:40px; }
.content_creditos { font-size: 17px; }
.content_creditos .author_container { min-height:210px; }
.content_credits a { color:#888; }
.content_contactos { font-size: 25px; line-height:30px; }
/* two columns sidebars */

.header_menu  { max-width:1000px; }
.header_menu li { display:inline; list-style-type:none; margin:0; padding:0;}
#menu { margin-bottom:50px;  width: 100%; position: relative; }
#menu ul { position:relative; clear: left;float: left;list-style: none;margin: 0; padding: 0; text-align: center; width: 100%;}
#menu ul li { display: block; float: left; list-style: none; margin:0; padding: 0; position: relative; width: 11%; padding-bottom: 30px;}
#menu a .infoHover { font-size: 25px; color: #90298e; }
#menu a .infoHover_container { min-height: 30px; }
#menu a:hover { text-decoration: none;}

.home_announce 
{
	width:500px; margin-left:auto; margin-right:auto; border:solid 1px #90298e; position:relative; margin-bottom:50px; padding:20px;
}


#header_slideshow { margin:0; padding:0; list-style: none;}
#header_slideshow li { margin: 0; padding: 0;list-style: none;}
.row-marginbottom { margin-bottom: 20px; }
#bambcat_slideshow { text-align: center;}
#bambcat_slideshow_img { max-width: 100%; }
.bambcat_slideshow_img_intro { width: 400px; }
.bambcat_slideshow { margin: 0px auto; position: relative; width: 100%; min-height: 160px;padding: 0px; }
.bambcat_slideshow > div { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; }
.bambcat_slideshow > div img { width:80%; min-height: 1000px;}
#bambcat_slideshow_controls { margin: 0; padding: 0; margin-top:30px; }
#bambcat_slideshow_controls li { margin: 0; padding: 0; display: inline;}
#bambcat_slideshow_controls #blank { margin-right: 12px; margin-left: 12px;}
#bambcat_slideshow_pagination { margin-top:16px; }
#bambcat_slideshow_pagination li { display:inline; list-style:none; font-size:30px; padding-right:8px; }
.back_button { margin-top:70px; margin-right:auto; margin-left:auto; display:block; }
.modal-result-error { color: Red; font-weight: bold;}
#home_slideshow { position:relative; min-height:333px; margin-bottom: 20px; }
#home_slideshow IMG { position:absolute; top:0; left:0; z-index:8; }
#home_slideshow IMG.active { z-index:10; }
#home_slideshow IMG.last-active { z-index:9; }







.content_parcerias { width: 821px; margin-left:auto; margin-right: auto; }
.content_parcerias .row-fluid .span4 img { width:100%; }

h3 { font-size: 25px; color: #90298e; }
a { text-decoration: none; color: #888;}
a:hover { text-decoration: none; color:#90298e;}
.anchor_normal { font-weight: :normal; text-decoration: none; }
.anchor_normal:hover { font-weight: :normal; text-decoration: underline; }
.color_1 { color: #90298e; }
.hidden { display: none;}
.f_big { font-size: 30px; }
.p100 { width: 100%; }
.rowb { margin-bottom: 15px;}
.align-right { text-align: right;}
/* helpers */
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after { display: table;content: ""; }
.clearfix:after { clear: both; }

/* bootstrap extensions */
.btn-pink {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #90298e;
  background-image: none;
  *background-color: #90298e;
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.pluginButton {
  background-color:#CCC !important;
  color:#888 !important;
}
#footer-nav-outter .table {
	display:table;
	margin:0 auto;
}
#footer-nav {
 float:left;
 position:relative;
 overflow:hidden;
width:100%;
		border-top:3px solid #eee;
}
	#footer-nav ul {
		clear:left;
		float:left;
		margin:0;
		padding:0;
		position:relative;
		left:50%;
		text-align:center;
		list-style:none;
		}
		#footer-nav ul li {
		display:block;
		float:left;
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		right:50%;
	}
	#footer-nav ul li a {
		font-size: 1.2em;
		display:block;
		margin:0 0 0 1px;
		padding:3px 10px;
		line-height:1.4em;
		padding-right:20px;
	}
	#thumb-wrapper {
		width:500px; margin-top:20px; margin-left:auto; margin-right:auto;
	}
	#thumb1 {
	width:30%; float:left; padding-right:15px;
	}
	#thumb2 {
		width:30%; float:left; 
	}
	#thumb3 {
		width:30%; float:left; padding-left:15px;
	}
	#slideshow-thumbs {
		margin-left:auto;
		margin-right: auto;
		width:800px;
		margin-top:20px;
	}
	#slideshow-thumbs li {
		display: inline;
		width:100px;
		margin-right:5px;
	}
	#slideshow-thumbs li img {
		width:100px;
		border:1px solid #eee;
	}