﻿<h1>Gostar de testar tecnologias novas?</h1>
<p>
    Nas próximas semanas vou estar exaustivamente a publicar novos projectos!<br/>
    Se quiseres ser avisado sempre que publicar algo 
</p>
<form class="form" role="form" name="subscribeForm">
    <div class="row">
        <div class="col-lg-6">
            <label for="email" class="sr-only">Email</label>
            <input type="text" name="email" class="form-control" placeholder="Email" data-ng-model="subscribe.email"/>
        </div>
        <div class="col-lg-6">
            Facebook | Twitter | Pinterest | Google
        </div>
    </div>
    <div class="form-footer">
        <input type="button" class="btn btn-primary" value="Subscrever"/>
    </div>
</form>
