﻿@inherits ViewPage<Admin.ServiceModel.Operations.GetTests>
<!DOCTYPE html>
<html>
    <head>
        <title>Jasmine Spec Runner</title>
        <script type="text/javascript"> var _auth = { id: '', key: '' };</script>
        <link rel="stylesheet" type="text/css" href="/assets/jasmine/jasmine.css">
        <script type="text/javascript" src="/assets/jasmine/jasmine.js"></script>
        <script type="text/javascript" src="/assets/jasmine/jasmine-html.js"></script>
        @Html.RenderJsBundle("~/Scripts/libraries.js.bundle", BundleOptions.Normal)
        <script type="text/javascript">
            angular.module('angular-servicestack').config(function (serviceStackRestConfigProvider, $httpProvider) {

            });
        </script>
        @Html.RenderJsBundle("~/Content/javascript/app.js.bundle", BundleOptions.Normal)
        @Html.RenderJsBundle("~/Content/javascript/services/services.js.bundle", BundleOptions.Normal)
        @Html.RenderJsBundle("~/Content/javascript/ahav.js.bundle", BundleOptions.Normal)
        @Html.RenderJsBundle("~/Content/javascript/admin.js.bundle", BundleOptions.Normal)
        @Html.RenderJsBundle("~/Content/javascript/tests.js.bundle", BundleOptions.Normal)
        @Html.RenderJsBundle("~/Scripts/compability.js.bundle", BundleOptions.Normal)
        <script type="text/javascript">
            (function () {
                var jasmineEnv = jasmine.getEnv();
                jasmineEnv.updateInterval = 1000;

                var htmlReporter = new jasmine.HtmlReporter();

                jasmineEnv.addReporter(htmlReporter);

                jasmineEnv.specFilter = function (spec) {
                    return htmlReporter.specFilter(spec);
                };

                var currentWindowOnload = window.onload;

                window.onload = function () {
                    if (currentWindowOnload) {
                        currentWindowOnload();
                    }
                    execJasmine();
                };

                function execJasmine() {
                    jasmineEnv.execute();
                }

            })();
        </script>
    </head>
    <body>
    </body>
</html>