﻿<div id="fb-root"></div>
<script>
    // Load the SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Ahav Editor -->
<script type="text/ng-template" id="editor-0.1.html">
    <iframe id="frameEditor" src="javascript:''" frameborder="0" allowtransparency="true" style="width:100%; display:block;"></iframe>
</script>
<!-- admin top menu -->
<script type="text/ng-template" id="admin/attachments/top-menu.html">
    <ul class="nav navbar-nav navbar-right">
                            <li><a href="/logout" target="_self">Sair</a></li>
                        </ul>
</script>

<script type="text/ng-template" id="menu-drop.html">
    <select><option data-ng-repeat="item in menuValues" value="{{item.value}}">{{item.name}}</option></select>

</script>

<script type="text/ng-template" id="/template/edit-template-top-menu.html">
    
</script>
<!-- File Upload in dialog -->
@*<script type="text/ng-template" id="template/modal/content/attachs.html">*@
<script type="text/ng-template" id="ahav-files.html">
    
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <span class="btn btn-default btn-file">
                            enviar<input type="file" ng-file-select="onFileSelect($files)" />
                        </span>
</div>
                    <!-- The table listing the files available for upload/download -->
                    <table data-ng-if="showThumbnails" class="table table-striped files ng-cloak">
                        <tr data-ng-repeat="file in queue">
                            <td data-ng-switch data-on="!!file.thumbnailUrl">
                                <div class="preview" data-ng-switch-when="true">
                                    <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img class="img-responsive" data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                                </div>
                                <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                            </td>
                            <td>
                                <div data-ng-show="file.error"><span class="label label-danger">Error</span> {{file.error}}</div>
                                <div class="form-controls"><input type="text" id="name" name="name" class="form-control" value="{{file.name}}" placeholder="Name" /></div>
                                <span>Url: {{file.url}}
                            </td>
                            <td>
                                <p class="size">{{file.size}}</p>
                                <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel && !fi">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                    <span>Cancel</span>
                                </button>
                                <button data-ng-controller="modalAttachDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Delete</span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12">
                    <div class="upload-div">
                        http method: <input type="radio" ng-model="httpMethod" ng-init="httpMethod = 'POST'" value="POST" />post <input type="radio" ng-model="httpMethod" value='PUT' />put<br />
                        <br />
                        How to upload:<br />
                        <label><input type="radio" name="howToSend" ng-model="howToSend" value="1" ng-init="howToSend = 1">Multupart/form-data upload using $upload.upload() service cross browser</label>
                        <br />
                        <label><input type="radio" name="howToSend" ng-model="howToSend" value="2" ng-disabled="!dropSupported">File binary content with the file type as Content-Type header using $upload.http() service</label>
                        <div class="sub">
                            The second option could be used to upload files to <a href="https://github.com/danialfarid/angular-file-upload/issues/88">CouchDB</a>,
                            <a href="https://github.com/danialfarid/angular-file-upload/issues/87">imgur</a>, etc... for HTML5 FileReader browsers.<br />
                            Option 2 cross browser FileReader and image preview will be added around Feb 2014 when FileAPI FileReader support is available.<br />
                        </div><br />
                        myModel: <input type="text" ng-model="myModel"> model object to be sent with the file.<br />
                        choose a single file: <input type="file" ng-file-select="onFileSelect($files)">
                        <br />
                        or multiple files: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="file" ng-file-select="onFileSelect($files)" multiple>
                        <br />
                        <br />
                        <div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">or drop files here</div>
                        <div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
                        <br />
                        <input type="checkbox" ng-model="uploadRightAway">Upload right away
                        <br />
                        <br />
                        Progress:
                        <br />
                        <br />
                        <div ng-show="selectedFiles != null">
                            <div class="sel-file" ng-repeat="f in selectedFiles">
                                <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
                                <button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Start</button>
                                <span class="progress" ng-show="progress[$index] >= 0">
                                    <div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
                                </span>
                                <button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
                                {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                            </div>
                        </div>
                        <div class="response" ng-show="uploadResult.length > 0">
                            Server Response:
                            <ul>
                                <li ng-repeat="result in uploadResult">
                                    <ul>
                                        <li ng-repeat="item in result.result">
                                            <div data-ng-show="item.name">file name: {{item.name}}</div>
                                            <div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
                                            <div data-ng-show="item.size">size on the serve: {{item.size}}</div>
                                            <div data-ng-show="item.value">value: {{item.value}}</div>
                                        </li>
                                    </ul>
                                    <div data-ng-show="result.requestHeaders" class="reqh">request headers: {{result.requestHeaders}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

</script> 

<!-- UI Bootstrap -->
@*<script type="text/ng-template" id="template/tabs/tab.html">
    <li ng-class="{active: active, disabled: disabled}">
      <a ng-click="select()" tab-heading-transclude>{{heading}}</a>
    </li>
</script>
<script type="text/ng-template" id="template/tabs/tabset-titles.html">
    <ul class="nav {{type && 'nav-' + type}}" ng-class="{'nav-stacked': vertical}">
    </ul>
</script>
<script type="text/ng-template" id="template/tabs/tabset.html">
    <div class="tabbable" ng-class="{'tabs-right': direction == 'right', 'tabs-left': direction == 'left', 'tabs-below': direction == 'below'}">
  <div tabset-titles="tabsAbove"></div>
  <div class="tab-content">
    <div class="tab-pane" 
         ng-repeat="tab in tabs" 
         ng-class="{active: tab.active}"
         tab-content-transclude="tab">
    </div>
  </div>
  <div tabset-titles="!tabsAbove"></div>
</div>
</script>
<script type="text/ng-template" id="template/modal/window.html">
        <div class="modal fade {{ windowClass }}" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10}" ng-transclude></div>
</script>
<script type="text/ng-template" id="template/modal/backdrop.html">
        <div class="modal-backdrop fade" ng-class="{in: animate}" ng-style="{'z-index': 1040 + index*10}" ng-click="close($event)"></div>
</script>*@

<!-- Others -->

<script type="text/ng-template" id="modalSuccess.html">
        <div class="modal-header">
            <h3>{{title}}</h3>
        </div>
        <div class="modal-body">
           <div data-ng-bind-html="body"></div>
        </div>
        <div class="modal-footer">
    {{buttons.length}}
            <div ng-repeat="button in buttons">
                <button class="btn">{{button.name}}</button>
            </div>
            <button class="btn btn-warning" ng-click="ok()">Ok</button>
        </div>
</script>
<script type="text/ng-template" id="modalConfirm.html">
        <div class="modal-header">
            <h3>{{title}}</h3>
        </div>
        <div class="modal-body">
           <div data-ng-bind-html="body"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
            <button class="btn btn-warning" ng-click="confirm()">Ok</button>
        </div>
</script>
<script type="text/ng-template" id="modalValidation.html">
        <div class="modal-header">
            <h3>{{title}}</h3>
        </div>
        <div class="modal-body">
            <div data-ng-bind-html="body"></div>
            <ul>
                <li data-ng-repeat="error in errors">{{error.errorCode}} - {{error.message}}</li>
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="close()">Fechar</button>
        </div>
</script>
<script type="text/ng-template" id="modalError.html">
        <div class="modal-header">
            <h3>{{title}}</h3>
        </div>
        <div class="modal-body">
           <div data-ng-bind-html="body"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="close()">Fechar</button>
        </div>
</script>
<script type="text/ng-template" id="templates/locales.html">
    <a data-dropdown-toggle="dropdown-toggle">Idioma <img data-ng-src="@WebResources.ImagesUri/flag_{{cultures[editLocale]}}.gif" /><span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li data-ng-repeat="culture in cultures">
            <a data-ng-disabled="editLocale == $index" data-ng-click="viewCulture($index)">
                <img data-ng-src="@WebResources.ImagesUri/flag_{{culture}}.gif" />
                {{culture}}
            </a>
        </li>
    </ul>
</script>