﻿@import "libs\bootstrap\variables.less";
@import "common.less";
@grid-columns: 24;
@import "libs\bootstrap\bootstrap.less";
body
{   
    // Fixed Navbar
    padding-top:50px;
}

.navbar-admin
{
    font-size:18px;
    background-color:#ddd;

}
#welcomePage {

}