﻿//@import "../bootstrap/bootstrap.less";
@ColorPickerImagePath: "..\assets\images";
@import "libs\colorpicker.less";
@import "fonts.less";

// Box Sizing don't like IE6 and IE7. Bootstrap already implements this for * with border box
// @TODO IMPLEMENT POLLYFILL FOR THIS
/*input {
    .box-sizing(content-box);
}*/

html,body,container,row
{
  height: 100%;
}


/* Hide Angular JS elements before initializing */
/*.ng-cloak {
    display: none;
}*/
div[show-ie], span[show-ie]
{
    display: none;
}
/**, *:before, *:after
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
/// ANGULAR BOOTSTRAP MODAL FIX
.modal {
display: block;
}
.modal-body:before,
.modal-body:after {
display: table;
content: " ";
}
.modal-header:before,
.modal-header:after {
display: table;
content: " ";
}
.img-responsive
{
    width: 100%;
}
.ng-dirty .ng-invalid {
    border:1px solid red;
}
// Menu
@menu-link-color: #FFF;
@menu-link-hover-color:#000;
@menu-link-active-color: #CCC;
@footer-pr: 40px;
@footer-bg: #FFFFFF;
.menu { padding-left: 0; }
.menu-inline li { display: inline; padding-right: 20px; }
.menu
{
    > li > a
    {
        color: @menu-link-color;

        &:hover,
        &:focus
        {
            color: @menu-link-hover-color;
            background: none; cursor:pointer;
        }
    }

    > .active > a
    {
        &,
        &:hover,
        &:focus
        {
            color: @menu-link-active-color;
            background: none;
        }
    }
}
.override
{
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12
    {
        position: static;
    }

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
    {
        heigth: 100%;
    }

    .container:before
    {
        content: '';
        display: block;
        float: left;
        height: 100%;
    }

    .fill
    {
        position: relative;
    }

    .fill:after
    {
        content: "";
        display: block;
        clear: left;
    }

    .wrapper
    {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
// Map
@uimap-height: 400px;
.map-canvas
{
    height: @uimap-height;
    margin-bottom: 40px;
}

// Wrapper for Vertical Alignment
.w_valign
{
    height: 100%;
    vertical-align: middle;
    display: inline-block;

    img
    {
        vertical-align:middle;
    }
}



.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}