﻿@font-face
{
    font-family:"Averia Serif Libre', cursive";
    src:url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre);
}
@font-face
{
    font-family: 'PT Sans Caption', sans-serif;
    src: url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);
}
@font-face	{
    font-family: "SERINI_";
    src:url("/assets/fonts/PTS76F.ttf");
}
@font-face
{
    font-family:"SerifBlack";
    src:url("/assets/fonts/SERIBLO.ttf");
}
