﻿@import "libs\bootstrap\variables.js";
@icon-font-path:"/assets/fonts/";
@import "libs\bootstrap\bootstrap.less";
@import "common.less";

/*@media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
}
@media (min-width: 992px)
{
    .container
    {
        max-width: 800px;
    }
}*/
@media (min-width: 1200px) {
    #navbar-dao .container {
        width:800px;
    }   
}
@media (min-width: 979px) and (max-width: 1200px) {
    #navbar-dao .container {
        width:800px;
    }   
}
@media (min-width: 768px) and (max-width: 979px) {
    #navbar-dao .container {
        width:800px;
    }   
}