﻿@using Ahav
@using Ahav.Infrastructure.Extensions
@using Ahav.ServiceInterface.Extensions
<!DOCTYPE html>
<html id="ng-app" ng-app="guestApp" xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-ng-bind="headTitle"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Html.RenderCssBundle("~/less/guest.css.bundle", BundleOptions.Normal)
</head>
<body>
    @Html.Partial("AngularJsTemplates", BundleOptions.Normal)
    <div id="fb-root"></div>
    <div ui-view></div>
    @*<div class="container">
            <div class="row">
                <div class="col-lg-1" data-ng-show="layout.showLeft">
                    left
                </div>
                <div data-ng-class="{'col-lg-12' : !layout.showLeft, 'col-lg-11': layout.showLeft}">
                    <div ui-view></div>
                </div>
            </div>
        </div>*@
    <script type="text/javascript">
        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        var _auth = { id: null, key: null };
        var _projectId = null;
        var _initScope = null;
    // inject all the initial scope
        @if (Request.IsAuthenticated())
            {
                <text>_auth = @Request.Items[AccountExtensions.AngularAuth].AsRaw();</text>
                if (Request.HasProject())
                {
                    <text>_projectId = '@Request.GetProjectId()';</text>
                }
            }
    </script>
    @Html.RenderJsBundle("~/apps/common/common.js.bundle", BundleOptions.Normal)
    @Html.RenderJsBundle("~/apps/guest/guest.js.bundle", BundleOptions.Normal)
    <script type="text/javascript">
        angular.module('angular-servicestack').config(function (serviceStackRestConfigProvider, $httpProvider) {

        });
    </script>
</body>
</html>