﻿@inherits ViewPage<GuestViewControllerResponse>
@*<script type="text/javascript"> _scope = @Model.AsRawJson();</script>*@
<div class="container">
    <div class="jumbotron visible-md visible-lg" id="what">
        <div class="container">
            <div class="col-xs-18">
                <h1>@WelcomeResources.IntroH1</h1>
                <p>@WelcomeResources.IntroContent</p>
            </div>
            <div class="col-xs-6">
                
            </div>
        </div>
    </div>
        <div class="row" >
            <div class="col-xs-24 col-sm-12 col-md-16">
                <div class="panel panel-default">
                    <div class="panel-heading"><h1 class="panel-title">Login</h1></div>
                    <form novalidate>
                        Email <input data-ng-model="user.email" required type="text" name="email" /><br />
                        Pw <input data-ng-model="user.password" required type="password" name="password" /><br />
                        <input data-ng-click="login()" type="button" class="btn btn-default" value="Entrar" />
                    </form>
                </div>
            </div>
            <div class="visible-xs clearfix "></div>
            <div class="col-xs-24 col-sm-12 col-md-8">
                <h2>@WelcomeResources.RegisterTitle</h2>
                <p>@WelcomeResources.RegisterContent</p>
                Packages
                <div data-ng-repeat="package in packages" id="packages">
                    <div class="captation">
                        <h3>{{package.title}}</h3>
                        <p>{{package.description}}}}</p>
                        <p data-ng-if="package.ammount > 0">{{package.ammount}}</p>
                        <p data-ng-if="package.ammount == 0">@WelcomeResources.PackageFree</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-24 col-md-12">
                        <form class="form" role="form" name="registerForm" novalidate="novalidate">
                            <div class="form-group">
                                <label class="sr-only">First Name</label>
                                <input type="text" name="firstName" required="required" placeholder="First Name" data-ng-model="account.firstName" />
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Last Name</label>
                                <input type="text" name="lastName" required="required" placeholder="Last Name" data-ng-model="account.lastName" />
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Email</label><span data-ng-show="registerForm.email.$invalid && registerForm.email.$dirty">O formato está errado!</span>
                                <input name="email" type="text" required="required" placeholder="Email" data-ng-model="account.email"  />
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Password</label>
                                <input name="password" type="password" required="required" placeholder="Password "data-ng-model="account.password" />
                            </div>
                            <div class="">
                                <input type="submit" class="btn" value="Criar Conta" data-ng-click="basicRegister()" />
                            </div>
                        </form>
                    </div>
                    <div class="visible-xs clearfix "></div>
                    <div class="col-xs-24 col-md-12">
                        Cria uma vonta com o facebook
                    </div>
                </div>
            </div>
        </div>
        <div id="builtwith">
            @WelcomeResources.BuiltWith
        </div>
        <div id="nextsteps">
            Próximos passos
        </div>
    
</div>