﻿@inherits ViewPage<ApplicationEditControllerResponse>

<div class="modal-dialog">
    <div class="modal-content">
        <form role="form" name="editProjectForm">
            <div class="modal-header">
                {{projectEdit.name}}    
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <input type="text" class="form-control" data-ng-model="projectEdit.name" name="name" required placeholder="Nome" />
                </div>
                <div class="form-group">
                    <label class="control-label">Descrição</label>
                    <textarea class="form-control" data-ng-model="projectEdit.description" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">Sub domínio</label>
                    <input type="text" class="form-control" data-ng-model="projectEdit.subDomain" name="subDomain" required placeholder ="Sub domínio" />
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn" data-ng-click="close()" value="Cancelar" />
                    <input data-ng-show="!fs" type="button" class="btn" data-ng-click="saveProject()" value="Guardar" />
                </div>
            </div>
        </form>
    </div>
</div>