﻿@inherits ViewPage<ApplicationCreateControllerResponse>
<form novalidate="novalidate" role="form" class="form-horizontal" data-ng-model="project" name="addProjectForm">
    <div class="modal-header"><h3>Registar um novo projecto</h3></div>
    <div class="modal-body">
        <h4>Pacote</h4>
        <div class="form-group">
            <ul>
                <li data-ng-repeat="p in packages">
                    <input type="radio" name="packageId" data-ng-model="project.packageId" value="{{p.id}}" /><label for="packageId">{{p.title}}</label>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-8">Nome</label>
            <div class="col-sm-16">
                <input type="text" class="form-control" data-ng-model="project.name" name="name" required placeholder="Description" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Descrição</label>
            <textarea class="form-control" data-ng-model="project.description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label class="control-labell">Sub Domínio</label>
            <input type="text" class="form-control" data-ng-model="project.domain" name="subDomain required placeholder="Sub Domínio" />
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn" data-ng-click="close()" value="Cancelar" />
        <input data-ng-show="!fs" type="button" class="btn" data-ng-click="addProject()" value="Criar" />
    </div>
</form>