﻿<div class="modal">
    <form novalidate="novalidate" name="contactForm"></form>
    <div class="modal-content">
        <div class="modal-header"><h3>Contacte-nos!</h3></div>
        <div class="modal-body">
            <p>Contacte-nos!</p>
            <div class="form-group">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="sr-only control-label" for="name">Nome</label>
                    <input type="text" name="name" data-ng-model="contact.name" required class="form-control"/>
                </div>
                <div class="visible-xs clearfix"></div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label class="sr-only control-label" for="email">Email</label>
                    <input type="text" name="email" data-ng-model="contact.email" required class="form-control"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn" data-ng-click="sendContact()"/>
        </div>
    </div>
</div>